<div class="col-lg-7 col-lg-offset-3">
<div class="well">
<table class="table table-responsive table-bordered table-hover">
<h1 class="col-lg-7 body_font col-lg-offset-2 heading_color">BART Route Stations</h1>

<%= render 'index_form' %>

</div>
</div>