<div class="col-lg-6 col-lg-offset-3">
<div class="well">
<table class="table table-responsive table-bordered table-hover">
<h1 class="col-lg-8 body_font col-lg-offset-2 heading_color">Create A New Route Station</h1>

<%= render 'form' %>

</div>
</div>