<div class="col-lg-8 col-lg-offset-2">
<div class="well">

<p class="body_font body_color">
<%= "To get from #{@start_station} to #{@end_station} your options are:" %>
</p>


<% @bartjourney_options.each do |origin_train,destination_options|%>
	<p class="body_font body_color">
	<%= "#{origin_train[0]} leaving in #{origin_train[1]} min connects at " %>
	</p>
	<p class="tab">
	<% last_destination = 0 %>
	<% if 
	<% destination_options.each do |station, destination| %>
		<% if destination[2] > last_destination %>
			</br>
		<% end %>
		<%= "#{destination[1]} in #{destination[2]} mins to #{destination[3]}" %>
		</br>
	<% last_destination = destination[2] %>
	<% end %>
	</p>
<% end %>


</div>

<%= link_to "New journey", new_bartjourney_path,
						:class => 'btn btn-info col-lg-offset-4 body_font' %>

</div>