<div class="col-lg-8 col-lg-offset-2">
<div class="well">

<p class="body_font body_color">
<%= "The next trains from #{@start_station} to #{@end_station} are:" %>
</p>

<p class="body_font body_color">
<% @bartjourney_options.each do |train_destination,departure_times| %>
	<%= "#{train_destination} leaving in: " %>
	</br>
	<% departure_times.each do |departure_time| %>
		<%= "#{departure_time} min" %>
		</br>
	<% end %>
	</br></br>
<% end %>
</p>

</div>

<%= link_to "New journey", new_bartjourney_path,
						:class => 'btn btn-info col-lg-offset-4 body_font' %>

</div>