<div class="col-lg-6 col-lg-offset-3">
<h1 class="col-lg-8 body_font col-lg-offset-3 heading_color">Journey Options</h1>


<% if @bartjourney_direction == 'Normal' %>
	<%= render 'show_normal' %>
<% else %>
	<%= render 'show_reverse' %>
<% end %>

</div>
</div>